<!doctype html>
<title>{% block title %}{% endblock %} Air Pollution Monitor</title>
<html>

<h1>Search for city</h1>
<form method="POST">
    <label for="city">Enter city name:</label>
    <input type="text" id="city" name="city" />
    <br />
    <input type="submit" value="Search" />
</form>

{% if city_data %}
<p>City: {{ city_name }}</p>
<p>Coordinates: lon: {{ lon }} lat: {{ lat }} </p>


<p>Concentration of components:</p>
<ul>
    {% for key, value in components %}
    <li><strong>{{ key }}</strong>: {{ value }} μg/m3</li>
    {% endfor %}
</ul>
{% endif %}


<br />
<br />
<h3>Stay informed about air quality!</h3>
<p>Sign up to receive email notifications when air pollution levels exceed a certain threshold in the cities you choose.
</p>

<form id="subscriptionForm">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="citySubscription">City:</label>
    <input type="text" id="citySubscription" name="city" required>
    <input type="submit" value="Submit">
</form>

<div id="subscriptionStatus"></div>

<script>
    // Modify that function
    document.getElementById('subscriptionForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the form from being submitted normally

        let email = document.getElementById('email').value;
        let city = document.getElementById('citySubscription').value;

        var azureFunctionUrl = 'https://airlog-linux-function-app.azurewebsites.net/api/airlog_http_trigger?city_name=' + city;

        fetch(azureFunctionUrl, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
    });
</script>

</head>

</html>